<div class="container bg-light pt-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" [routerLink]="['/productList']"
        >Danh Sách Sản Phẩm</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/addproduct']"
        >Thêm Sản Phẩm</a
      >
    </li>
  </ul>

  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Tên sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="model.title"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        [(ngModel)]="model.description"
      />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Đơn giá</label>
      <input
        type="number"
        class="form-control"
        id="price"
        name="price"
        [(ngModel)]="model.price"
      />
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Số lượng</label>
      <input
        type="number"
        class="form-control"
        id="quantity"
        name="quantity"
        [(ngModel)]="model.quantity"
      />
    </div>
    <div class="mb-3">
      <label for="supplier" class="form-label">Nhà cung cấp</label>
      <input
        type="text"
        class="form-control"
        id="supplier"
        name="supplier"
        [(ngModel)]="model.supplier"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="featuredImageUrl"
        >Hình ảnh mô tả
        <button
          type="button"
          class="btn btn-secondary"
          (click)="openImageSeletor()"
        >
          Chọn hình ảnh
        </button>
      </label>
      <ng-container *ngIf="model.imageUrl !== ''">
        <div>
          <img [src]="model.imageUrl" height="100" class="my-2" />
        </div>
      </ng-container>
      <!-- <label for="imageUrl" class="form-label">Image Url</label> -->
      <input
        type="text"
        class="form-control"
        id="imageUrl"
        name="imageUrl"
        [(ngModel)]="model.imageUrl"
      />
    </div>

    <div class="mt-3">
      <label class="form-label" for="categories">Loại sản phẩm</label>
      <ng-container *ngIf="categories$ | async as categories">
        <select
          name="categories"
          id="categories"
          class="form-control"
          [(ngModel)]="model.categoryId"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </ng-container>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Thêm sản phẩm</button>
  </form>
</div>
<div
  class="images-container-modal"
  [ngClass]="{
    'd-block': isImageSeletorVisible,
    'd-none': !isImageSeletorVisible
  }"
>
  <button
    type="button"
    class="btn btn-light"
    style="position: fixed; top: 10px; right: 10px"
    (click)="closeImageSelector()"
  >
    X
  </button>
  <app-image-selector></app-image-selector>
</div>
